## 公開資訊站財報抓取

In [71]:
import requests
import pandas as pd
payload = {
'step':'1',
'CO_ID':'2330',
'SYEAR':'2013',
'SSEASON':'1',
'REPORT_ID':'C'    
}

res = requests.post('http://mops.twse.com.tw/server-java/t164sb01', data= payload)
res.encoding = 'big5'

dfs = pd.read_html(res.text.encode('utf-8'), encoding = 'utf-8')

In [72]:
stockdf = dfs[1]
stockdf.columns = stockdf.iloc[0]
stockdf = stockdf.drop([0,1])
stockdf.head()

0                 會計項目 2013年03月31日 2012年12月31日 2012年03月31日 2012年01月01日
2                   資產         NaN         NaN         NaN         NaN
3                 流動資產         NaN         NaN         NaN         NaN
4              現金及約當現金         NaN         NaN         NaN         NaN
5            現金及約當現金總額   186028798   143410588   170819939   143472277
6  透過損益按公允價值衡量之金融資產－流動         NaN         NaN         NaN         NaN

## 櫃買三大法人網頁

In [69]:
import requests
import json
import pandas as pd
res = requests.get('http://www.tpex.org.tw/web/stock/3insti/daily_trade/3itrade_hedge_result.php?l=zh-tw&se=EW&t=D&d=105/05/13&_=1463219491936')
jd = json.loads(res.text)
df = pd.DataFrame(jd['aaData'])

In [70]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,006201,寶富櫃,0,0,0,0,0,0,"-37,000",0,0,0,"342,000","379,000","-37,000","-37,000"
1,1258,F-其祥,"26,000",0,"26,000",0,0,0,0,0,0,0,0,0,0,"26,000"
2,1264,德麥,"4,000",0,"4,000",0,0,0,"-10,000",0,"10,000","-10,000",0,0,0,"-6,000"
3,1336,台翰,0,"4,000","-4,000",0,0,0,0,0,0,0,0,0,0,"-4,000"
4,1565,精華,"224,000","170,000","54,000","13,000",0,"13,000","-11,000","1,000",0,"1,000","3,000","15,000","-12,000","56,000"

## 期交所網頁抓取

In [73]:
import requests
from bs4 import BeautifulSoup 
payload = {
'DATA_DATE_Y':'2016',
'DATA_DATE_M':'5',
'DATA_DATE_D':'13',
'syear':'2016',
'smonth':'5',
'sday':'13',
'datestart':'2016/5/13'
}
res = requests.post('http://www.taifex.com.tw/chinese/3/7_12_1.asp', data=payload)
res.encoding = 'utf-8'
soup = BeautifulSoup(res.text)
tb = soup.select('.table_f')[0]

In [74]:
import pandas as pd
dfs = pd.read_html(tb.prettify('utf-8'), encoding = 'utf-8', skiprows =[0,1], header= 0 )
dfs[0]

   身份別      口數    契約金額    口數.1  契約金額.1  口數.2  契約金額.2
0  自營商  389430   57699  391579   59209 -2149   -1510
1   投信    6372    9609    6141    9128   231     481
2   外資  205068  119962  206689  113574 -1621    6388
3   合計  600870  187270  604409  181911 -3539    5359

## 證交所三大法人csv檔抓取

In [75]:
import requests
payload = {
'download':'csv',
'qdate':'105/05/13',
'select2':'01',
'sorting':'by_issue'
}

res = requests.post('http://www.twse.com.tw/ch/trading/fund/T86/T86.php', data=payload)
res.encoding = 'big5'
with open('downlad.csv', 'w') as f:
    f.write(res.text.encode('utf-8'))

In [76]:
df = pd.read_csv('downlad.csv', names=["證券代號","證券名稱","外資買進股數","外資賣出股數",\
                "外資買賣超股數","投信買進股數","投信賣出股數","投信買賣超股數","自營商買賣超股數",\
                "自營商買進股數(自行買賣)","自營商賣出股數(自行買賣)","自營商買賣超股數(自行買賣)",\
                "自營商買進股數(避險)","自營商賣出股數(避險)","自營商買賣超股數(避險)","三大法人買賣超股數"]
)

In [77]:
df = df.dropna()

In [78]:
df = df.drop([1])

In [79]:
df

,證券代號,證券名稱,外資買進股數,外資賣出股數,外資買賣超股數,投信買進股數,投信賣出股數,投信買賣超股數,自營商買賣超股數,自營商買進股數(自行買賣),自營商賣出股數(自行買賣),自營商買賣超股數(自行買賣),自營商買進股數(避險),自營商賣出股數(避險),自營商買賣超股數(避險),三大法人買賣超股數
2,"=""1108""",幸福,"2,000","2,000",0,0,0,0,0,0,0,0,0,0,0,0
3,"=""1110""",東泥,"13,000","16,000","-3,000",0,0,0,0,0,0,0,0,0,0,"-3,000"
4,"=""1104""",環泥,"61,000","118,000","-57,000",0,0,0,"-9,000",0,"9,000","-9,000",0,0,0,"-66,000"
5,"=""1103""",嘉泥,0,"79,000","-79,000",0,0,0,0,0,0,0,0,0,0,"-79,000"
6,"=""1102""",亞泥,"2,308,000","3,899,000","-1,591,000",0,0,0,"221,000",0,"84,000","-84,000","305,000",0,"305,000","-1,370,000"
7,"=""1101""",台泥,"1,008,000","5,384,000","-4,376,000",0,0,0,"350,000","194,000","2,000","192,000","258,000","100,000","158,000","-4,026,000"

## gogofund網頁抓取

In [81]:
import pandas as pd
import requests
headers = {
'Referer':'http://www.gogofund.com/convch/fund/fdreturnlist.asp',
'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36' ,
'Cookie':'ASPSESSIONIDQAQRSAAC=HAMAIGNBKGOGICFGJEEHPGNN; ASPSESSIONIDASDADBTR=EBJCPHCDJAFCCCPELHLPOHIC; __utmt=1; __utma=143787299.460081391.1463070517.1463070517.1463221512.2; __utmb=143787299.1.10.1463221513; __utmc=143787299; __utmz=143787299.1463070518.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none)'
}
res = requests.get('http://www.gogofund.com/convch/fund/forframe/fdreturnlist_sql.asp?FundClass=0&PerformMoney=TWD&Prd=0&DaMax=2016/5/13&DaMin=2016/4/27&O=5&P=1&r=0.5895744288078673', headers = headers)
dfs = pd.read_html(res.text)
dfs[0].head()

,0,1,2,3,4,5,6,7,8,9
0,基金名稱,年化標準差,報酬率(%),基金類型,NaN,NaN,NaN,NaN,NaN,NaN
1,一週,一個月,三個月,六個月,一年,三年,五年,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,愛德蒙得洛希爾環球黃金基金 (A)Edmond de Rothschild Goldsphe...,41.50,7.58,13.55,36.66,78.96,34.79,-4.23,-51.90,黃金及貴金屬
4,愛德蒙得洛希爾環球黃金基金 (B)Edmond de Rothschild Goldsphe...,42.10,7.13,13.67,37.86,77.31,33.99,-5.31,-52.19,黃金及貴金屬

1）啟用Google兩步驟驗證功能及產生備用碼。

- Step 1：連結至Google帳戶安全性設定頁面，點選如下圖所示兩步驟驗證的『設定』，開始啟用Google的兩步驟驗證。


- Step 2：點選『開始設定』。


- Step 3：重新輸入您的密碼，進行Google個人帳戶確認。


- Step 4：填寫您的電話號碼及選擇您要透過何種方式接收驗證碼，填寫及選擇完成後，點擊『傳送驗證碼』。

- Step 5：輸入您所收到的驗證碼後，點選『驗證』，進行下一個步驟。

- Step 6：如果這台是您個人常用的電腦或裝置，可以勾選『信任這部電腦』後，點選『下一個』。

 

- Step 7：確認是否需要啟用兩步驟驗證功能，點選『確認』。


- Step 8：啟用兩步驟驗證完成後，Google會問您是否現在進行重新連結您的應用程式與裝置，就點選『重新連結我的應用程式』。



- Step 9：重新輸入您的密碼，點選『登入』。


- Step 10：開始進行設定備用登入帳戶方式，點選『前往我的設定』。



- Step 11：可以選擇您要啟用何種備用登入帳戶方式，也可以兩種方式都啟用。本文教學只示範啟用『備用碼』方式，點擊『列印或下載』。

- Step 12：您可以將『備用驗證碼』列印或手抄方式抄寫記錄，而每組備用碼只能使用一次，您可以將備用碼放在方便自己拿取的地方，如：皮夾裡。如果備用碼用完了，可以點擊『產生新驗證碼』，來進行獲得新的10組驗證碼。


2）新增應用程式專用密碼，以便可以在某些無法在瀏覽器中運作的應用程式進行正常的登入。

- Step 1：連結至Google的應用程式專用密碼頁面，輸入您自己好辨識記住的應用程式『名稱』，輸入完成後，點擊『產生密碼』。例如：筆者需要在Windows 8電腦進行同步Google 拼音輸入法的一些詞彙與設定，需要進行Google 帳戶登入才能進行同步，但此應用程式無法在瀏覽器中進行登入，所以筆者會使用此項服務來進行帳戶正常的登入，且會在名稱中輸入筆者自己好辨識記住的名稱『win8-google-pinyin』。

- Step 2：點擊『產生密碼』後，會產生新的一組密碼，並將如下圖所示紅圈處的這組密碼複製。

- Step 3：複製好後，將密碼貼上或手動輸入需要登入的應用程式。密碼有加入空格是不會影響帳戶正常的登入，並且您不需要去記錄或記住這組密碼。

- Step 4：完成密碼輸入後，點擊『完成』。

In [86]:
import smtplib

def send_email(user, pwd, recipient, subject, body):
    gmail_user = user
    gmail_pwd = pwd
    FROM = user
    TO = recipient if type(recipient) is list else [recipient]
    SUBJECT = subject
    TEXT = body

    # Prepare actual message
    message = """\From: %s\nTo: %s\nSubject: %s\n\n%s
    """ % (FROM, ", ".join(TO), SUBJECT, TEXT)
    #try:
    server = smtplib.SMTP("smtp.gmail.com", 587)
    server.ehlo()
    server.starttls()
    server.login(gmail_user, gmail_pwd)
    server.sendmail(FROM, TO, message)
    server.close()
    print 'successfully sent the mail'
    #except:
    #    print "failed to send mail"